In [0]:
import numpy as np
import pandas as pd
import glob

In [3]:
results_df = pd.read_csv('test.csv')
print(results_df.shape)
results_df.head()

(1, 58)

,HITId,HITTypeId,Title,Description,Keywords,Reward,CreationTime,MaxAssignments,RequesterAnnotation,AssignmentDurationInSeconds,...,Answer.3.on,Answer.4.on,Answer.5.on,Answer.6.on,Answer.7.on,Answer.8.on,Answer.9.on,Answer.feedback,Approve,Reject
0,3P6ENY9P79KOSMHO7C4TEAVVGAZHIF,3T7LDS1BZWD431CQUL0BU99C65691S,trdl_1,This projects aims to use crowdsourcing to sum...,"passage, summary, sentences",$0.00,Thu Apr 18 13:25:17 PDT 2019,10,BatchId:234728;OriginalHitTemplateId:921587254;,3600,...,False,False,False,True,False,False,False,ddd,NaN,NaN

In [14]:
from collections import Counter

counts = Counter()
maxVotes = Counter()

columns = [col for col in results_df.columns if '.on' in col]

for index, row in results_df.iterrows():
  for col in columns: 
    is_relevant = row[col]
    sentence_order = int(row['Title'][5:]) * 28 + int(col.split('.')[1])
    article = row['Title'][:4]
    sentence = (article, sentence_order)
    if is_relevant == 1:
      counts[sentence] += 1
    else:
      counts[sentence] += 0
    if counts[sentence] >= maxVotes[article]:
      maxVotes[article] = counts[sentence]

print(counts)

Counter({('trdl', 42): 1, ('trdl', 52): 1, ('trdl', 34): 1, ('trdl', 29): 0, ('trdl', 38): 0, ('trdl', 39): 0, ('trdl', 40): 0, ('trdl', 41): 0, ('trdl', 43): 0, ('trdl', 44): 0, ('trdl', 45): 0, ('trdl', 46): 0, ('trdl', 47): 0, ('trdl', 30): 0, ('trdl', 48): 0, ('trdl', 49): 0, ('trdl', 50): 0, ('trdl', 51): 0, ('trdl', 53): 0, ('trdl', 54): 0, ('trdl', 55): 0, ('trdl', 56): 0, ('trdl', 31): 0, ('trdl', 32): 0, ('trdl', 33): 0, ('trdl', 35): 0, ('trdl', 36): 0, ('trdl', 37): 0})

In [15]:
final_df = pd.DataFrame.from_dict(counts, orient='index')

dict_list = []

for index, row in final_df.iterrows():
  dict_list.append ( 
    {
    'article_id': row.name[0],
    'sentence_order': row.name[1],
    'votes': row[0],
    'max_votes': maxVotes[row.name[0]],     
    'agreement': row[0] / maxVotes[row.name[0]] * 100      
    }
  )
 
transform_df = pd.DataFrame.from_dict(dict_list)

print(transform_df)

transform_df.to_csv("output.csv")

    agreement article_id  max_votes  sentence_order  votes
0         0.0       trdl          1              29      0
1         0.0       trdl          1              38      0
2         0.0       trdl          1              39      0
3         0.0       trdl          1              40      0
4         0.0       trdl          1              41      0
5       100.0       trdl          1              42      1
6         0.0       trdl          1              43      0
7         0.0       trdl          1              44      0
8         0.0       trdl          1              45      0
9         0.0       trdl          1              46      0
10        0.0       trdl          1              47      0
11        0.0       trdl          1              30      0
12        0.0       trdl          1              48      0
13        0.0       trdl          1              49      0
14        0.0       trdl          1              50      0
15        0.0       trdl          1              51      0
16      100.0       trdl          1              52      1
17        0.0       trdl          1              53      0
18        0.0       trdl          1              54      0
19        0.0       trdl          1              55      0
20        0.0       trdl          1              56      0
21        0.0       trdl          1              31      0
22        0.0       trdl          1              32      0
23        0.0       trdl          1              33      0
24      100.0       trdl          1              34      1
25        0.0       trdl          1              35      0
26        0.0       trdl          1              36      0
27        0.0       trdl          1              37      0